.page {
    background: var(--background3) !important;
    width: 100%;
    height: 100vh;
}

.containChange {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--input2);
    width: 60%;
    height: 85%;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.containChange h1 span {
    position: relative;
    margin-top: 50px;
    color: var(--text-primary);
    margin-left: 2rem;
    font-size: 30px;
}

.containChange h1 a {
    text-decoration: none;
    color: var(--PrimaryColor);
    font-size: 12px;
    font-weight: 600;
    margin-left: 2rem;
}

.containChange h1 a:hover {
    opacity: .8;
}

.containChange h1 p {
    margin: 15px 0px 0px 2rem;
    color: var(--text-primary2);
}

.containChange .row {
    width: 70%;
    margin-left: 12rem;
    height: 2px;
    background-color: var(--SecondaryColor);
}

.formChange {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12rem;
}

.formChange .current {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
}

.formChange .current h3 {
    font-size: 15px;
    color: var(--textColor2);
    width: 30%;
}

.formChange .current input {
    background-color: var(--inputColor3);
    color: var(--background3);
    border: none;
    outline: none;
    padding: 15px 10px;
    font-size: 15px;
    width: 45%;
    border-radius: 5px;
    transition: .4s all;
}

.formChange .current input::placeholder {
    padding-left: 10px;
    color: #abb1b7;
}

.formChange .current input:focus {
    border: var(--PrimaryColor) 1px solid;
}

.formChange .current .forget {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.formChange .btnChange {
    margin-top: 10px;
    margin-left: 0px;
}

.btnChange button {
    padding: 10px 50px;
    background-color: var(--PrimaryColor);
    color: var(--inputfeild);
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .4s all;
}

.btnChange button:hover {
    background-color: var(--inputfeild);
    color: var(--PrimaryColor);
}

@media screen and (max-width: 1080px) {
    .containChange {
        width: 70%;
    }

    .formChange  {
        margin-left: 8rem;
    }

    .containChange .row{
        margin-left: 8rem;
    }

    .formChange .current h3 {
        width: 40%;
    }
}

@media screen and (max-width: 790px) {
    .containChange {
        width: 80%;
    }

    .formChange  {
        margin-left: 6rem;
    }

    .containChange .row{
        margin-left: 6rem;
    }
}

@media screen and (max-width: 576px) {
    .containChange {
        width: 90%;
    }

    .formChange  {
        margin-left: 4rem;
    }

    .containChange .row{
        margin-left: 4rem;
    }
}

@media screen and (max-width: 421px) {
    .containChange {
        width: 100%;
    }

    .formChange  {
        margin-left: 1rem;
    }

    .containChange .row{
        margin-left: 1rem;
    }

    .containChange h1 span {
        margin-left: 0rem;
        font-size: 25px;
    }
    
    .containChange h1 a {
        font-size: 12px;
        margin-left: 0rem;
    }

    .containChange h1 p {
        margin: 15px 0px 0px 0px;
    }
}